<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>
<link rel="stylesheet" type="text/css" href="activity_files/globalwide.css">

<iframe style="display: none;" id="sina_anywhere_iframe"></iframe>

<!--[if lt IE 7]>
<div class="upgradeBrowser">
    <div class="upgradeBrowserBox"><span>Hi，您的IE浏览器版本过低，请升级您的浏览器至IE8+，以享受更优质的浏览效果！:)</span></div>
</div>
<![endif]-->
<div class="topWrapper">
    <div class="topHeader">
        <div class="newlogowp">
            <div style="position:relative"><a href="http://www.zcool.com.cn/special/newlogo2014" class="newlogo"></a>
            </div>
            <script>$(".topHeader").hover(function () {
                $(this).addClass("hover");
            }, function () {
                $(this).removeClass("hover");
            });</script>
        </div>
        <a st_t="click" st_n="nav_logo_index" href="http://zcool.com.cn/" class="topLogo"></a>
        <a st_t="click" st_n="nav_logo_2" class="topLogo-4" href="http://www.hellorf.com/subject/desk/?from=zhome"
           target="_blank">
            <img src="activity_files/015aa15860953ca8012060c878f69d.jpg" style="width: 115px;">
        </a>
        <!--<a class="topLogo-2" href="http://zcool.com.cn/special/initAnniversary.do?id=9" target="_blank" title="站酷九周年"></a>-->
        <div class="topNav"><a st_t="click" st_n="nav_index" href="http://zcool.com.cn/">首页</a>

        	<span class="navMore  ">
				<a st_t="click" st_n="nav_works" href="http://zcool.com.cn/works/">
                    作品<b></b>
                </a>
        		<div class="navMoreCon w336">
                    <div class="pl20 pt10 pb10">


                        <a st_t="click" st_n="nav_works_all"
                           href="http://www.zcool.com.cn/works/0%210%21%210%210%21200%211%211%21%21%21/">全部</a><a
                            st_t="click" st_n="nav_works_cate8"
                            href="http://www.zcool.com.cn/works/8%210%21%210%210%21200%211%211%21%21%21/">平面</a><a
                            st_t="click" st_n="nav_works_cate17"
                            href="http://www.zcool.com.cn/works/17%210%21%210%210%21200%211%211%21%21%21/">UI</a><a
                            st_t="click" st_n="nav_works_cate607"
                            href="http://www.zcool.com.cn/works/607%210%21%210%210%21200%211%211%21%21%21/">网页</a><a
                            st_t="click" st_n="nav_works_cate1"
                            href="http://www.zcool.com.cn/works/1%210%21%210%210%21200%211%211%21%21%21/">插画</a><a
                            st_t="click" st_n="nav_works_cate608"
                            href="http://www.zcool.com.cn/works/608%210%21%210%210%21200%211%211%21%21%21/">动漫</a><a
                            st_t="click" st_n="nav_works_cate33"
                            href="http://www.zcool.com.cn/works/33%210%21%210%210%21200%211%211%21%21%21/">摄影</a><a
                            st_t="click" st_n="nav_works_cate609"
                            href="http://www.zcool.com.cn/works/609%210%21%210%210%21200%211%211%21%21%21/">空间/建筑</a><a
                            st_t="click" st_n="nav_works_cate499"
                            href="http://www.zcool.com.cn/works/499%210%21%210%210%21200%211%211%21%21%21/">工业/产品</a><a
                            st_t="click" st_n="nav_works_cate24"
                            href="http://www.zcool.com.cn/works/24%210%21%210%210%21200%211%211%21%21%21/">三维</a><a
                            st_t="click" st_n="nav_works_cate610"
                            href="http://www.zcool.com.cn/works/610%210%21%210%210%21200%211%211%21%21%21/">影视</a><a
                            st_t="click" st_n="nav_works_cate611"
                            href="http://www.zcool.com.cn/works/611%210%21%210%210%21200%211%211%21%21%21/">手工艺</a><a
                            st_t="click" st_n="nav_works_cate612"
                            href="http://www.zcool.com.cn/works/612%210%21%210%210%21200%211%211%21%21%21/">纯艺术</a><a
                            st_t="click" st_n="nav_works_cate613"
                            href="http://www.zcool.com.cn/works/613%210%21%210%210%21200%211%211%21%21%21/">服装</a><a
                            st_t="click" st_n="nav_works_cate44"
                            href="http://www.zcool.com.cn/works/44%210%21%210%210%21200%211%211%21%21%21/">其他</a>
                    </div>
                </div>
			</span>

            <a st_t="click" st_n="nav_articles" href="http://zcool.com.cn/articles/">文章</a>
			
			<span id="nav_material_span" class="navMore">工具<b></b>
        	<ul class="navMoreUl navMaterialUl">
                <li><a st_t="click" st_n="nav_sucai" href="http://sucai.zcool.com.cn/" target="_blank">搜素材</a></li>
                <li><a st_t="click" st_n="nav_idea" href="http://idea.zcool.com.cn/" target="_blank">灵感/欣赏</a></li>
                <li><a st_t="click" st_n="nav_tab" href="http://www.zcool.com.cn/more/tab/" target="_blank">NewTab</a>
                </li>
                <li><a st_t="click" st_n="nav_fonts" href="http://www.zcool.com.cn/special/zcoolfonts/" target="_blank">站酷字体</a>
                </li>
            </ul>
        	</span>
            <a st_t="click" st_n="nav_job" href="http://www.zcool.com.cn/job/?from=zcoolindex&amp;position=index_nav"
               target="_blank">招聘</a>
            <a st_t="click" st_n="nav_event" href="http://zcool.com.cn/event/eventlist.do">赛事</a>
			<span id="nav_more_span" class="navMore">更多<b></b>
        	<ul class="navMoreUl">
                <li><a st_t="click" st_n="nav_activity" href="http://zcool.com.cn/activities/">活动</a></li>
                <li><a st_t="click" st_n="nav_designers" href="http://zcool.com.cn/toDesigners.do">酷友/设计师</a></li>
                <li><a st_t="click" st_n="nav_newestcomment" href="http://zcool.com.cn/newestComment.do">酷友精彩评论</a></li>
                <li><a st_t="click" st_n="nav_speciallist" href="http://zcool.com.cn/special/speciallist.do">站酷专题</a>
                </li>
                <li><a st_t="click" st_n="nav_hellorf" href="http://www.hellorf.com/" target="_blank">站酷海洛创意</a></li>
                <li><a st_t="click" st_n="nav_gogoup" href="http://www.gogoup.com/" target="_blank">高高手</a></li>
                <li><a st_t="click" st_n="nav_app" href="http://zcool.com.cn/appdown?from=0" target="_blank">站酷客户端</a>
                </li>
                <li><a st_t="click" st_n="nav_special_intel" href="http://www.zcool.com.cn/special/designerpc/"
                       target="_blank">“芯”栏目</a></li>


                <!--<li><a href="http://group.zcool.com.cn/" target="_blank">小组</a></li>-->
                <!--<li><a href="http://f.zcool.com.cn" target="_blank">找服务</a></li>-->
            </ul>
        	</span>
        </div>
        <div class="topHeadeRight">
            <ul class="thrUl">
                <li class="doLogBox"><a href="http://www.zcool.com.cn/tologin.do">登录</a>|<a
                        href="http://passport.zcool.com.cn//reg.do?appId=&amp;service=http://www.zcool.com.cn&amp;appLogin=http://www.zcool.com.cn/login_cb&amp;passportHost=http://passport.zcool.com.cn/">注册</a>
                </li>
            </ul>
          	<span class="topSearch">
			<form action="http://www.zcool.com.cn/tosearch.do" onsubmit="return searchHeaderFunc();">
                <div class="chooseS layout">
                    <table width="100%">
                        <tbody>
                        <tr>
                            <td><input name="page" id="a1" value="0" checked="checked" type="radio"><label
                                    for="a1">全部</label></td>
                            <td><input name="page" id="a2" value="1" type="radio"><label for="a2">作品</label></td>
                            <td><input name="page" id="a3" value="2" type="radio"><label for="a3">文章</label></td>
                        </tr>
                        <tr>
                            <td><input name="page" id="a4" value="3" type="radio"><label for="a4">欣赏</label></td>
                            <td><input name="page" id="a5" value="4" type="radio"><label for="a5">素材</label></td>
                            <td><input name="page" id="a6" value="5" type="radio"><label for="a6">设计师</label></td>
                        </tr>
                        <tr>
                            <td colspan="3"><input name="page" id="a10" value="10" type="radio"><label
                                    for="a10">正版图片</label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <input name="f" value="hb" type="hidden">
                <input id="head_searchText_id" name="world" class="topSearchTxt" type="text">
                <input class="topSearchBtn" value="" type="submit">
            </form>
            </span>
        </div>
    </div>
</div>
<script type="text/javascript">
    <!--
    function searchHeaderFunc() {
        var world = $.trim($("#head_searchText_id").val());
        if (world == '' || world == null) {
            alert("关键词不能为空！");
            return false;
        }
        if ($("input[name='page']:checked").val() == 10) {
            window.open("http://www.hellorf.com/hellorf/search/all/" + encodeURIComponent(world) + ".html");
            return false;
        }
        return true;
    }

    //-->
</script>
<script>
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)return unescape(r[2]);
        return null;
    }
    $(function () {

        // 动态增加导航栏中两个下拉列表的选中样式

        var material = ['/gfxs', '/shows'];
        var more = ['/activities', '/toDesigners.do', '/newestComment.do', '/hotComment.do']
        setTimeout(function () {
            checkMaterialOrMoreSelected(material, more);
        }, 500);

        function checkMaterialOrMoreSelected(material, more) {
            var current_url = window.location.href;
            var domain = 'zcool.com.cn';
            for (var i = 0; i < material.length; i++) {
                if (current_url.indexOf(domain + material[i]) != -1) {
                    $("#nav_material_span").addClass("selected");
                    return true;
                }
            }
            for (var i = 0; i < more.length; i++) {
                if (current_url.indexOf(domain + more[i]) != -1) {
                    $("#nav_more_span").addClass("selected");
                    return true;
                }
            }
            return false;
        }

        //判断是否宽屏
        var winWide = window.screen.width;
        var wideScreen = false;
        //if(winWide<=1024){//1024及以下分辨率
        //	$("#css").attr("href","http://static.zcool.cn/v3.5.160823.0//zcool/css/global.css");
        //}else{
        //	$("#css").attr("href","http://static.zcool.cn/v3.5.160823.0//zcool/css/globalwide.css");
        //	wideScreen = true;//是宽屏
        //}
        //var mainWidth = 1004;
        var mainWidth = 1084;
        if (wideScreen) {
            mainWidth = 1084;
        } else {
            //	mainWidth = 1004;
            mainWidth = 1084;
        }

        goTopInit(mainWidth);
        $(window).resize(function () {
            goTopInit(mainWidth);
        });
        $(window).scroll(function () {
            goTopInit(mainWidth);
        });
    });
    function goTopInit(mainWidth) {

        var winWide = $(window).width();
        if ($(window).scrollTop() == 0) {
            if (!$("#goTop").is(":hidden")) {
                $("#goTop").hide();
            }
        } else {
            if ($("#goTop").is(":hidden")) {
                $("#goTop").show();
            }
        }
        $("#goTop").css({
            "left": (winWide - mainWidth) / 2 + mainWidth
        });


    }

    function sayBugs(_this) {
        var content = $("#sayContent").val();
        if ($.trim(content).length == 0) {
            alert("亲，怎么也得写几个字吧");
            return;
        }
        popMessage("非常感谢您的参与！");
        $('#sayBugs').fadeOut(1000);
        var paramObject = {sysdata: getSystimes(), content: content, result: "json"};
        $.post("/saveguestfaq.do", paramObject);
    }
</script>
<script type="text/javascript">ki4soClientAppId = '';
maindomain = 'zcool.com.cn';
passportdomain = 'passport.zcool.com.cn/';
domain = 'my.zcool.com.cn';
appname = '/';
homepageDomain = 'zcool.com.cn'</script>
<script type="text/javascript" src="activity_files/logon-v1.js"></script>
<script type="text/javascript">
    //登录后检测通行证session是否过期
    $z.getUserSession('http://' + passportdomain, function (data) {
        if (data.userSession != null && data.userSession.length > 0) {
            //读session oldSession 上次记录的用户session
            var oldSession = $.cookie('PPSESSION', {domain: 'zcool.com.cn'});
            if (oldSession != data.userSession) {//如果客户端session和服务器端的session不一致则客户端更新session同时退出登录
                //写session data.userSession;先指定30天
                $.cookie('PPSESSION', data.userSession, {domain: 'zcool.com.cn', expires: 30});
                logout();
            }
        }
    })
</script>
<div class="goTop" id="goTop" style="display: none; left: 1493.5px;">
    <a href="#" class="goTopLink"></a>
</div>


<div class="appdown-2code" style="top: 416px; bottom: auto;">
    <a href="http://zcool.com.cn/appdown?from=4" target="_blank"><i></i></a>
    <span onclick="appdownremove()"></span>
</div>
<script type="text/javascript">
    $(function () {
        if ($.cookie('index_zcool_appdown_close') != null) {
            $(".appdown-2code").remove();
        } else {
            $(".appdown-2code").show();
        }

        if ($(window).height() > 760) {
            $(".appdown-2code").css({
                top: "416px",
                bottom: "auto"
            });
        } else {
            $(".appdown-2code").css({
                top: "auto",
                bottom: "125px"
            });
        }
    });
    function appdownremove() {
        $(".appdown-2code").remove();
        var next15Day = new Date();
        next15Day.setDate(next15Day.getDate() + 15);
        $.cookie('index_zcool_appdown_close', '1', {expires: next15Day});
    }
</script>


<link rel="stylesheet" type="text/css" href="activity_files/zcool.css">
<link rel="stylesheet" type="text/css" href="activity_files/main.css">
<div class="wrapper">
    <div class="headerBanner"><a href="http://www.zcool.com.cn/event/toupload.do?event_id=149#maodian"
                                 class="btnZT btnZT-uploadTop">上传作品</a></div>
    <div class="navWrapper">
        <div class="mainnavBar wp">
            <ul class="nav layout">
                <li class="active"><a title="首页" href="http://www.zcool.com.cn/event/wanmei/index.jsp#nav">首页</a></li>
                <li><a title="活动介绍" href="http://www.zcool.com.cn/event/wanmei/details.jsp#nav">活动介绍</a></li>
                <li><a title="全部作品" href="http://www.zcool.com.cn/event/wanmei/works.jsp#nav">全部作品</a></li>
                <li><a target="_blank" title="讨论组" href="http://group.zcool.com.cn/group/2804">讨论组</a></li>
                <li><a title="关于完美世界作品" href="http://www.zcool.com.cn/event/wanmei/about.jsp#nav">关于完美世界</a></li>
            </ul>
        </div>
    </div>
</div>


<!-- ---- -->
<div class="mainWrapper">
    <div class="wp">
        <div class="pt80">
            <h4 class="txtTitle">活动引言</h4>

            <div class="txtcontent  pt50 center">在完美世界，你可以玩游戏、看影视、赏动画、绘漫画、品文学、融媒体、受教育。<br>
                在完美世界，你可以见证中国文化，昂首阔步，走向世界。<br>
                “互联网+”风潮席卷而来，品牌形象重彰时不我待！<br>
                完美世界携手站酷网发起寻找“完美未来之星”计划，全网征集最具创意的logo！<br>
                落落凡尘之心，烙刻完美世界，拾起生花梦笔，释放泉涌文思，动巧思绘其形状，凝精神拓其内涵，寄真情赋其意义。<br>
                <br>

                <div><b>未来之星，熠熠生辉；完美世界，由你定义；丰厚奖品，等你来领！</b></div>
            </div>
            <div class="linex"></div>
            <h4 class="txtTitle pt80">大赛时间</h4>

            <div class="center pt60"><img src="activity_files/time.png" alt=""></div>
        </div>
    </div>
    <div class="center jxbg mt60">
        <h4 class="txtTitle pt70">奖项设置</h4>

        <div class="center pt20"><img src="activity_files/jx.png" alt=""></div>
    </div>
    <div class="wp">
        <div class="miniwp" style="width:1084px;">
            <h4 class="txtTitle pt70">设计说明</h4>

            <div class="pt50 txtcontent">1. 为完美世界集团设计全新LOGO，需包含图形及完美世界、Perfect World字样，并简单阐述设计思路。<br>
                2. Perfect World首字母可做变形延展设计（例如P可以是一个旗子，W可以是一个帆船），整体风格娱乐化。<br>
                3. 作品的表现手法不限，参赛作者需保留300dpi分辨率可用于印刷生产的位图源文件或矢量文件，获奖者需在活动结束后……
            </div>
            <div class="center pt40"><a href="http://www.zcool.com.cn/event/wanmei/details.jsp#more"
                                        class="btnZT">查看更多</a><a
                    href="http://file.zcool.cn/community/file/2016/10/10f4fa583b0b310000012dc4d1e242.zip?Expires=1482739111&amp;OSSAccessKeyId=lwQTEmwHzzSWSkqd&amp;Signature=JfQF4CdgWQnNp52MGVGBmtEbhkE%3D"
                    id="download_rar" class="btnZT ml50">下载模板</a></div>
        </div>
        <h4 class="txtTitle pt70">评审标准</h4>

        <div class="center pt50"><img src="activity_files/ps.png" alt=""></div>
    </div>
    <div class="mt80 ps">
        <h4 class="txtTitle pt60">评委设置</h4>

        <div class="pwlist">
            <ul class="cl">
                <li>
                    <img src="activity_files/pw1.jpg" alt="">

                    <p><b>鲁晓寅</b>
                        完美世界首席艺术家
                    </p>
                </li>
                <li>
                    <img src="activity_files/pw2.jpg" alt="">

                    <p><b>聂昱</b>
                        完美世界教育学院副院长
                    </p>
                </li>
                <li>
                    <img src="activity_files/pw3.jpg" alt="">

                    <p><b>王敏</b>
                        中央美术学院设计学院院长
                    </p>
                </li>
                <li>
                    <img src="activity_files/pw4.jpg" alt="">

                    <p><b>刘永清</b>
                        深圳平面设计师协会主席
                    </p>
                </li>
                <li>
                    <img src="activity_files/pw5.jpg" alt="">

                    <p><b>丁 一</b>
                        造字工房创始人
                    </p>
                </li>
                <li>
                    <img src="activity_files/pw6.jpg" alt="">

                    <p><b>纪晓亮</b>
                        站酷主编
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="wp">
        <!--
          <h4 class="txtTitle pt60">推荐作品</h4>
          <div class="smore"><a href="works.jsp">查看更多></a></div>
          <div class="zxWrapper">
            <ul class="zxUl all cl mt20">


              <div id="lidata"> <span id="load" style="margin: 15px 0px;text-align: center; display: none;"><img width="32" height="32" src="/event/images/loading.gif"></span>
            </ul>
          </div>
        -->
        <h4 class="txtTitle pt60">公益活动</h4>

        <div class="center mt60"><a href="https://share.ricedonate.com/banner.php?id=453" target="_blank"><img
                src="activity_files/weibobanner.jpg" alt=""></a></div>
        <div class="center mt30">
            <wb:livestream skin="silver"
                           topic="%E5%9C%A8%E8%B7%AF%E4%B8%8A%E7%9A%84%E6%96%B0%E5%B9%B4%E7%A4%BC%E7%89%A9|%E5%9C%A8%E8%B7%AF%E4%B8%8A%E7%9A%84%E6%96%B0%E5%B9%B4%E7%A4%BC%E7%89%A9"
                           width="1083" listid="4053454609527933" uid="3214868130" height="623">
                <iframe src="activity_files/listlive.htm" scrolling="no" marginheight="0" width="1083" height="623"
                        frameborder="0"></iframe>
            </wb:livestream>
        </div>
    </div>


    <div class="logos">
        <a href="http://www.wanmei.com/" target="_blank"><img src="activity_files/z1.png" alt=""></a>
        <a href="http://www.zcool.com.cn/" target="_blank"><img src="activity_files/z2.png" alt=""></a>
    </div>


</div>
<!-- ------------------------------------- -->


<div class="footer">
    <div class="footerSearch">
        <div class="ftSearch">
            <form action="http://www.zcool.com.cn/tosearch.do" onsubmit="return searchFooterFunc();">
                <span class="ftChoose" hoverable="true">
                    <span class="ftChooseList">全部</span><b></b>
                    <div class="ftChoosePop">
                        <ul>
                            <li><a href="javascript:void(0)" value="0">全部</a></li>
                            <li><a href="javascript:void(0)" value="1">作品</a></li>
                            <li><a href="javascript:void(0)" value="2">文章</a></li>
                            <li><a href="javascript:void(0)" value="3">欣赏</a></li>
                            <li><a href="javascript:void(0)" value="4">素材</a></li>
                            <li><a href="javascript:void(0)" value="5">设计师</a></li>
                        </ul>
                    </div>
                </span>
                <input value="" name="page" id="hide_page_id" type="hidden">
                <input name="f" value="fb" type="hidden">
                <input name="world" class="ftSearchTxt" type="text">
                <input value="" class="ftSearchBtn" type="submit">
            </form>
        </div>
    </div>
    <!-- 微信二维码 -->
    <style type="text/css">
        .zcwx {
            display: none;
            width: 186px;
            height: 211px;
            padding: 0px;
            position: absolute;
            margin: -125px 0 0 -73px;
            z-index: 1000;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".zcwxc").mouseover(function () {
                $(".zcwx").fadeIn();
                $(".zcwxc").mouseout(function () {
                    $(".zcwx").fadeOut();
                });
            });
        })
    </script>
    <!-- 微信二维码结束 -->
    <div class="footerFunction layout">
        <dl>
            <dt><a href="http://www.zcool.com.cn/service/about.html" target="_blank">关于</a></dt>
            <dd><a href="http://www.zcool.com.cn/service/about.html" target="_blank">关于站酷</a></dd>
            <dd><a href="http://www.zcool.com.cn/service/copyright.html" target="_blank">版权声明</a></dd>
            <dd><a href="http://www.zcool.com.cn/service/privacy.html" target="_blank">关于隐私</a></dd>
            <dd><a href="http://www.zcool.com.cn/service/disclaimer.html" target="_blank">免责声明</a></dd>
            <dd><a href="http://www.zcool.com.cn/service/sitemap.html" target="_blank">网站地图</a></dd>
            <dd><a href="http://www.zcool.com.cn/job/subject.jsp?subjectid=1429" target="_blank">加入站酷</a></dd>
        </dl>
        <dl>
            <dt><a href="http://www.zcool.com.cn/" target="_blank">栏目</a></dt>
            <dd><a href="http://www.zcool.com.cn/works/" target="_blank">原创作品</a></dd>
            <dd><a href="http://www.zcool.com.cn/articles/" target="_blank">设计文章</a></dd>
            <dd><a href="http://www.zcool.com.cn//event/eventlist.do" target="_blank">设计赛事</a></dd>
            <dd><a href="http://www.zcool.com.cn/newestComment.do" target="_blank">精彩评论</a></dd>
            <dd><a href="http://www.hellorf.com/" target="_blank">站酷海洛创意</a></dd>
            <dd><a href="http://www.gogoup.com/" target="_blank">站酷高高手</a></dd>
        </dl>
        <dl>
            <dt><a href="http://www.zcool.com.cn/service/adservice.html" target="_blank">商务</a></dt>
            <dd><a href="http://www.zcool.com.cn/service/adservice.html" target="_blank">企业服务</a></dd>
            <dd><a href="http://www.zcool.com.cn/service/adservice.html" target="_blank">赛事服务</a></dd>
            <dd><a href="http://www.zcool.com.cn/job/" target="_blank">招聘服务</a></dd>
            <dd><a href="http://www.hellorf.com/" target="_blank">图片服务</a></dd>
            <dd><a href="http://www.gogoup.com/" target="_blank">培训服务</a></dd>
        </dl>
        <dl>
            <div class="zcwx"><img src="activity_files/zcwx.png" width="186" height="211"></div>
            <dt><a href="http://www.zcool.com.cn/service/contact.html" target="_blank">联系</a></dt>
            <dd><a href="http://www.zcool.com.cn/suggest.do" target="_blank">在线提问</a></dd>
            <dd><a href="http://www.zcool.com.cn/service/contact.html" target="_blank">联系我们</a></dd>
            <dd><a href="http://e.weibo.com/hizcool" target="_blank">站酷微博</a></dd>
            <dd class="zcwxc" style="cursor:hand;cursor:pointer;">站酷微信</dd>

        </dl>
        <dl>
            <dt><a href="http://www.zcool.com.cn/service/faq.html" target="_blank">帮助</a></dt>
            <dd><a href="http://www.zcool.com.cn/service/credits.html" target="_blank">站酷规则</a></dd>
            <dd><a href="http://www.zcool.com.cn/service/faq.html" target="_blank">常见问题</a></dd>
        </dl>
        <dl class="qualification">
            <dt><a href="http://www.zcool.com.cn/service/link.html" target="_blank">友链</a></dt>
            <dd><a href="http://www.foundertype.com/" target="_blank">方正字库</a></dd>
            <dd><a href="http://www.xingyun.cn/" target="_blank">星云网</a></dd>
            <dd><a href="http://www.chinaz.com/" target="_blank">站长之家</a></dd>
            <dd><a href="http://www.fengniao.com/" target="_blank">蜂鸟网</a></dd>
            <dd><a href="http://www.hanyi.com.cn/" target="_blank">汉仪字库</a></dd>
            <dd><a href="http://www.chinaccnet.com/" target="_blank">中电云集</a></dd>
            <dd><a href="http://www.zcool.com.cn/service/link.html" target="_blank">更多</a></dd>
        </dl>
        <dl class="copyright">
            <dt><a href="http://www.zcool.com.cn/service/copyright.html" target="_blank">版权信息</a></dt>
            <dd>站酷（ZCOOL）会员所发布展示的“原创作品/文章”版权归原作者所有，任何商业用途均须联系作者。如未经授权用作他处，作者将保留追究侵权者法律责任的权利。<br>
                <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11017824号-4</a> / <a
                        href="http://www.miibeian.gov.cn/" target="_blank">京ICP证130164号</a>
                <br>北京市公安局朝阳分局备案编号:<a target="_blank"
                                      href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502000501">110105000501</a><br>
            <span class="copyrightLink">Copyright © 2006-2016 <a href="http://www.zcool.com.cn/"
                                                                 target="_blank">ZCOOL</a>
                <!-- <script src='http://w.cnzz.com/c.php?id=30039725&l=3' language='JavaScript'></script> -->
            </span>
            </dd>
        </dl>
    </div>
</div>
<div class="popDoc" id="gloablPopMesg"
     style="display:none;width:260px;height:80px;margin:-175px 0 0 -125px; background:#FFF;z-index:1000;">
    <div class="loginPop">
        <div class="popContent pt30 center f14">
            操作成功！
        </div>
    </div>
</div>


<script type="text/javascript" src="activity_files/zcool-analytics.js"></script>

<script type="text/javascript">
    (function () {
//布点：把需要统计的a标签上面加上st_t="click" st_n="name"
//监听点击事件 然后请求日志带上参数
//st_t,监听点的类型
//st_n,监听点的名称
//st_hf,监听点的输出链接
//t_,时间
//lo,当前页面链接
        $('a[st_t="click"]').on('click', {a: 'test'},
                function (e) {
                    //$(this)和$(e.target)不一样
                    var st_t = encodeURIComponent($(this).attr('st_t'));
                    var st_n = encodeURIComponent($(this).attr('st_n'));
                    var st_hf = encodeURIComponent($(this).attr('href'));
                    var lo = encodeURIComponent(window.location.href);
                    var t_ = Date.parse(new Date());
                    var zid = getZid();
                    var uid = getUid();
                    var url = "http://log.zcool.com.cn/click.gif?st_t=" + st_t + "&st_n=" + st_n + "&st_hf=" + st_hf + "&t_=" + t_ + "&lo=" + lo + "&zid=" + zid + "&uid=" + uid + "&ver=1.0&site=1";
                    new Image().src = url;
                });
    })();
    function getZid() {
        var allcookie = document.cookie.split('; ');
        var zid = "0";
        for (var i = 0; i < allcookie.length; i++) {
            var cookiearray = allcookie[i].split('=');
            var cookiename = cookiearray[0];
            var cookievalue = cookiearray[1];
            if (cookiename == 'zid') {
                //获取用户zid
                zid = cookievalue;
                break;
            }
        }
        return zid;
    }
    function getUid() {
        var allcookie = document.cookie.split('; ');
        var uid = "0";
        for (var i = 0; i < allcookie.length; i++) {
            var cookiearray = allcookie[i].split('=');
            var cookiename = cookiearray[0];
            var cookievalue = cookiearray[1];
            if (cookiename == 'zcool_logon_new') {
                //获取用户uid
                var tmpString = decodeURI(cookievalue);
                var stat = tmpString.split("|");
                var userCookieUID = stat[0];
                uid = userCookieUID;
                break;
            }
        }
        return uid;
    }
    // function getTopZ(){
    // 	$.getJSON('http://zcool.com.cn/api/getTopZ?jsonpcallback=?',function(result){
    // 		if (result.success) {
    // 			$('.topLogo-4').attr('href',result.link);
    // 			$('.topLogo-4').html('<img src="'+result.image+'"/>')
    // 		}
    // 	});
    // }
    // $(getTopZ);
</script>
<!--百分点11月25号加-->
<script type="text/javascript">
    if (!GetQueryString('formManager')) {
        window["_BFD"] = window["_BFD"] || {};
        _BFD.client_id = "Czhanku";
        _BFD.script = document.createElement("script");
        _BFD.script.type = "text/javascript";
        _BFD.script.async = true;
        _BFD.script.charset = "utf-8";
        _BFD.script.src = (('https:' == document.location.protocol ? 'https://ssl-static1' : 'http://static1') + '.baifendian.com/service/zhanku/zhanku.js');
        document.getElementsByTagName("head")[0].appendChild(_BFD.script);
    }
</script>
<!--百分点11月25号加-->
<script type="text/javascript">
    function searchFooterFunc() {
        $.each($('.ftChoosePop ul li a'), function (i, n) {
            if ($(this).text() == $('.ftChooseList').text()) {
                $('#hide_page_id').val($(this).attr('value'));
                return;
            }
        });
        var world = $.trim($(".ftSearchTxt").val());
        if (world == '' || world == null) {
            alert("关键词不能为空！");
            return false;
        }
        return true;
    }
</script>
<ul class="layer_menu" style="display:none"></ul>
<div class="div_textarea"><span class="nowpos"></span></div>


<script type="text/javascript" src="activity_files/common.js" charset="UTF-8"></script>
<script type="text/javascript">

    function getTxt(obj_coverpath, obj_covername, obj_title, url, view_count, comment_count, favorite_count, recommend_count, creatorId, mem_name, image_count, mem_facepath, mem_facename) {
        var imageUrl = getMiddleCoverImage_C_M(obj_coverpath, obj_covername);
        var txt = '<li>' +
                '<div class="picbox"><a href="' + url + '" target="_blank"><img width="250" height="188" src="' + imageUrl + '"></a></div>' +
                '<div class="zxUlCon">' +
                '<div class="zxUlTitle"><a target="_blank" href="http://www.zcool.com.cn/work/ZNDI4NTIxMg==.html">' + obj_title + '</a></div>' +
                '<div class="zxUlDesS">' + view_count + ' 次浏览 / ' + comment_count + ' 条评论 / ' + favorite_count + ' 次收藏</div>' +
                '<div class="zxUlDes">Design By <a target="_blank" href="/u/' + creatorId + '">' + mem_name + '</a></div>' +
                '</div>' +
                '</li>';
        return txt;
    }
    //initIndexProduct_new(149,100,8);
</script>

<script>
    getFile(583);
    function getFileCallback(fileUrl) {
        $("#download_rar").attr("href", fileUrl);
    }
    function getFileCallbackError(error) {
        $("#download_rar").attr("href", 'javascript:void(0)');
    }
</script>


<iframe allowtransparency="true" id="add_speed_bfd" scrolling="no"
        style="height: 0px; width: 0px; float: none; position: absolute; overflow: hidden; z-index: 333333; margin: 0px; padding: 0px; border: 0px none; background: transparent none repeat scroll 0% 0%;"
        frameborder="0"></iframe>


<!--{subtemplate common/footer}-->
