<!–{template common/header}–>
<style id="diy_style" type="text/css"></style>
<div id="pt">
    <div>
        <a href="./" title="{lang homepage}">$_G[setting][bbname]</a><em>&raquo;</em>
        <a href="forum.php">$_G[setting][bbname]</a><em>&raquo;</em>
        <a href="javascript：;">$navtitle</a>
    </div>
</div>
<div id="ct">
    <div>
        <div>标题栏</div>
        <div>
            <p style="width:300px; margin:220px auto; text-align:center;">这里是单页正文内容区域</p>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h2>公告栏</h2>
            </div>
            <div>
                <p style="line-height:25px;">
                    这里可以放一些公告通知类的文字内容这里可以放一些公告通知类的文字内容这里可以放一些公告通知类的文字内容这里可以放一些公告通知类的文字内容这里可以放一些公告通知类的文字内容这里可以放一些公告通知类的文字内容
                </p>
            </div>
        </div>
        <div>
            <div>
                <h2>操作菜单</h2>
            </div>
            <div>
                <ul>
                    <li><a href="#">测试菜单一</a></li>
                    <li><a href="#">测试菜单二</a></li>
                    <li><a href="#">测试菜单三</a></li>
                    <li><a href="#">测试菜单四</a></li>
                    <li><a href="#">测试菜单五</a></li>
                    <li><a href="#">测试菜单六</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <h2>版权信息</h2>
            </div>
            <div style="line-height:25px;">
                <ul>
                    <li>作者：<a href="http://www.phpfensi.com" target="_blank">Poly</a></li>
                    <li>网站：<a href="http://www.phpfensi.com" target="_blank">www.popcto.com</a></li>
                    <li>版权：phpfensi.COM</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!–{subtemplate common/footer}–>